PIPELINE_STALENESS_DAYS=7
NZHS_CSV_URL=https://minhealthnz.shinyapps.io/nz-health-survey-2024-25-annual-data-explorer/
STATS_NZ_PROJECTIONS_URL=https://www.stats.govt.nz/information-releases/subnational-population-projections
